body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    text-decoration: none;
}

/* global */

.top{
    height: 100px;
}

nav ul{
    list-style: none;
    font-size: 0.8em;
    min-width: 30vw;
    padding-inline-start:15px;
    
    
    
}

nav ul li{
    display: inline;
    list-style:none;
    
    padding: 0 0px;
    
}

a{
    text-decoration: none;
    color: #222;
    margin: 10px;
}

.nav-1{
    float: left;

    
    
}

.nav-2{
    float: right;
    min-width: 50px;
    margin-right: 25px;
   
}



nav #sign-in {
    padding: 7px 12px;
    background-color: #4285f4;
    color: #fff;
    border:none;
    border-radius: 0.15em;
    font-weight: bold;
}



#logobar{
    width: 50%;
    margin:56px auto;
    text-align:center;

}

#bar-container {
    width: 582px;
    border-radius: 25px;
    height: 44px;
    border: 1px solid #dfe1e5;
    margin: 23px auto;
    
}

#searchbar{
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    height: 35px;
    width:382px;
    border: none; 
    /*display:flex;*/
}

#search-icon{
    margin-right: 155px;
    margin-top: 10px;
}
